/* "Tamming" Box Model With Reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
  display: block;
}

header {
  display: block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.logo,
nav,
.statement {
  background-color: cadetblue;
}

/*header section; banner, nav bar*/

.top {
  display: flex;
  justify-content: center;
}

.banner {
  background-image: url("/Users/christiangarcia/Desktop/Projects/optics/resources/images/banner.png");
  height: 30rem;
  background-size: cover;
  width: 100%;
}

header .container {
  display: flex;
  padding: 1rem 2rem;
  background-color: cadetblue;
  width: 960px;
  position: absolute;
  z-index: 1;
  margin-top: 1rem;

}

.logo {
  display: flex;
  height: 1.5rem;
  width: 100%;
}

.logo img {

  margin-right: 1rem;
  height: 1.5rem;
}

.logo h4 {
  color: white;
  font-size: 1rem;
}

nav {
  width: 100%;
  text-align: right;
}

nav a {
  color: white;
  padding-left: 2rem;
  text-decoration: none;

}

/*tagline*/

.tagline-container {
  width: 960px;
  display: block;

}

.tagline {
  background-color: white;
  margin-top: 14rem;
  float: right;
}

.tagline h1 {
  line-height: 1.2;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 5rem;
}

/*icon section*/

.offers {
  display: flex;
  height: 8rem;
  justify-content: center;
  margin-top: 3rem;
}

.offers h4 {
  text-align: center;
}

.paper-icon {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.paper-icon img {
  width: 3.5rem;
}

.icon {
  width: 5rem;
  margin-left: 6rem;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.icon img {
  width: 5rem;
}
